<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context  http://www.springframework.org/schema/context/spring-context.xsd">

	<context:component-scan base-package="cn.bt.entity"></context:component-scan>
<!--	<cont0ext:property-placeholder location="classpath:db.properties" ></context:property-placeholder>-->
	<!--自定义BDRPP-->
	<bean class="cn.bt.selfbdrpp.MyBeanDefinitionRegistryPostProcessor"></bean>

    <bean id="a"  class="cn.bt.entity.A" >

		<constructor-arg value="你在赣神魔"/>
	</bean>

</beans>